{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 class="sr-only mt-3">Add task</h3>
                <form class="form-inline" action="add_todo"method="post">

                        <input autofocus type="text" class="form-control input-normal" name="content" placeholder="Enter your task here" style="width:400px">
                        <button type="submit" class="btn btn-primary mb-1 mt-2">Add</button>


                        <ul>{% for item in items %}
                            <div class="w-50 p-3" style="background-color: #eee;">
                                <li> {{ item.items}}
                            </div>
                                    <button type="submit"
                                        class="btn btn-warning
                                        mb-1 mt-2">Delete
                                    </button>
                                </li>

                          {% endfor %}
                        </ul>


                </form>
        </div>
    </div>
</div>



{% endblock %}
